.sidebar {
    /* flex-basis: 200px; */
    flex-shrink: 0;
    max-height: 100%;
    height: 100%;
    font-weight: 400;
    background-color: #393a3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    transform: translate3d(0, 0, 0);
    z-index: 21;
  }

  .sidebar__applogo {
    width: 120px;
    height: 36px;
    background-color: greenyellow;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .sidebar__main {
    flex: 1;
    row-gap: 4px;
    padding: 12px;
    overflow-y: scroll;
  }

  .sidebar__item.parent__node {
    justify-content: space-between;
    align-items: center;
    padding-right: 4px;
  }

  .sidebar__item.parent__node.expand .arrow {
    transform: rotate(180deg);
  }
  
  .sidebar__main::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  
  .sidebar__main::-webkit-scrollbar-thumb {
    background-color: var(--clr-t-border);
  }
  
  .sidebar__item {
    height: 44px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: #fff;
  }
  
  .sidebar .item__text {
    font-size: var(--fs-caption);
    line-height: var(--lh-caption);
  }
  
  .sidebar__footer {
    height: 44px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 24px;
    column-gap: 12px;
    border-top: 1px solid var(--clr-t-setext);
  }
  
  .item__hoverbox {
    background-color: #393a3d;
    color: white;
    border-radius: 4px;
    padding: 12px;
    position: absolute;
    width: max-content;
    left: 85px;
  }
  
  .item__icon {
    width: 20px;
    height: 20px;
  }

  .item__hoverbox .hover__arrow {
    width: 10px;
    height: 10px;
    background-color: #393a3d;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .sidebar__item:hover {
    background-color: #616164;
    cursor: pointer;
  }
  
  .sidebar__footer:hover {
    background-color: #616164;
    cursor: pointer;
  }

  .router-link-active > div {
    background-color: #616164;
  }

  .parent__node.active {
    background-color: #616164;
  }
  
  a.active .sidebar__item {
    background-color: #58595d;
  }

  hr {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .child__text {
    color: rgb(167, 198, 255);
  }