.m-row {
    margin-top: 20px;
    width: fit-content;
    margin-bottom: 5px;
  }
  .m-heading {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
  }
  
  .margin-left20 {
    margin-left: 20px;
  }
  
  .common-flex-container {
    display: flex;
    column-gap: 20px;
  }

  .bcr {
    border: 1px solid red;
  }

  .bcg {
      border: 1px solid green;
  }

  
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }
  
  .align-center {
    display: flex;
    justify-content: center;
  }
  
  
  /* Min width */
  
  .mw-40 {
    min-width: 40px;
  }
  
  .mw-70 {
    min-width: 70px;
  }
  
  .mw-80 {
    min-width: 80px;
  }

  .mw-90 {
    min-width: 90px;
  }
  
  .mw-100 {
    min-width: 100px;
  }

  .mw-120 {
    min-width: 120px;
  }
  
  .mw-150 {
    min-width: 150px;
  }

  .mw-180 {
    min-width: 180px;
  }
  
  .mw-200 {
    min-width: 200px;
  }

  .mw-240 {
    min-width: 240px;
  }
  
  .mw-300 {
      min-width: 300px;
  }

  .w-25 {
    width: 25px;
    max-width: 25px;
  }

  .w-50 {
    width: 50px;
    max-width: 50px;
  }

  .w-70 {
    width: 70px;
    max-width: 70px;
  }

  .w-90 {
    width: 90px;
    max-width: 90px;
  }

  .w-120 {
    width: 120px;
    max-width: 120px;
  }

  .w-150 {
    width: 150px;
    max-width: 150px;
  }

  .w-180 {
    width: 180px;
    max-width: 180px;
  }

  .w-200 {
    width: 200px;
    max-width: 200px;
  }

  .w-250 {
    width: 250px;
    max-width: 250px;
  }

  .w-400 {
    width: 400px;
    max-width: 400px;
  }

  .fl-1 {
    flex: 1;
  }
  
  .fl-2 {
    flex: 2;
  }
  
  .cg-1 {
    column-gap: 5px;
  }
  
  .cg-2 {
    column-gap: 10px;
  }
  
  .cg-3 {
    column-gap: 15px;
  }
  
  .cg-4 {
    column-gap: 20px;
  }
  
  .cg-5 {
    column-gap: 25px;
  }
  
  .cg-6 {
    column-gap: 30px;
  }
  
  .cg-7 {
    column-gap: 35px;
  }
  
  .cg-8 {
    column-gap: 40px;
  }
  
  .cg-9 {
    column-gap: 45px;
  }
  
  .cg-10 {
    column-gap: 50px;
  }
  .rg-1 {
    row-gap: 5px;
  }
  
  .rg-2 {
    row-gap: 10px;
  }
  
  .rg-3 {
    row-gap: 15px;
  }
  
  .rg-4 {
    row-gap: 20px;
  }
  
  .rg-5 {
    row-gap: 25px;
  }
  
  .rg-6 {
    row-gap: 30px;
  }
  
  .rg-7 {
    row-gap: 35px;
  }
  
  .rg-8 {
    row-gap: 40px;
  }
  
  .rg-9 {
    row-gap: 45px;
  }
  
  .rg-10 {
    row-gap: 50px;
  }

  .wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .wrapper--dark1 {
    background-color: #3535358a;
    z-index: 50;
  }
  
  .wrapper--dark2 {
    background-color: #39393993;
    z-index: 60;
  }
  
  .display--none {
      display: none;
  }

  .app__tooltip {
    position: absolute;
    display: none;
    color: #ffffff;
    text-align: center;
    padding: 2px 8px;
    border-radius: 4px;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    background: #393a3d;
    z-index: 9999;
  }

textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--clr-t-border);
}

input:disabled {
    background-color: transparent;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.al-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}


button {
  height: 36px !important;
}

input {
  height: 36px;
  padding-left: 4px;
}